<h1>hello world</h1>

<p>Team Name: <%= @team %></p>
<p>Team Motto: <%= @motto %></p>

<ul>
<% @hash.each_with_index do |hero_data, index| %>
  <li><%= hero_data[:name] %></li>
  <li><%= hero_data[:power] %></li>
  <li><%= hero_data[:bio] %></li>
<% end %>
</ul>
